.header + .intro {
    
}



.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 8px;
    margin-bottom: 0;

}


.logo {
    font-size: 24px;
    color: white;
    margin-left: 30px;
    font-weight: bolder;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    color: white;
}

.intro {
    background-color: #1F2937;
    color: white;
    margin-top: 0;
    
}

body {
    font-family: sans-serif;
    
}